.schooltool > .grid {
    padding-top: 36px;
}

.grid > .third-nav {
    left: 208px;
    position: absolute;
    overflow: auto;
}

.grid > .body > .widecontainer {
    margin-top: 40px;
    padding: 0px;
    width: 752px;
}

.grid .grid-form {
    margin-top: 0px;
    font-size: 10px;
}

.grid-form table {
    margin-top: 0em;
    width: auto;
}

.grid-form table tr th > div {
    height: 3em;
}

.grid-form table tr td.gradebook-name > div {
    height: 1.4em;
}

.grid-form table tr .gradebook-name {
    max-width: 16em;
    min-width: 16em;
    overflow: hidden;
    padding-left: 0.4em;
    padding-right: 0.4em;
    white-space: nowrap;
}

.grid-form table tr .gradebook-total {
    max-width: 4em;
    min-width: 4em;
    overflow: hidden;
    white-space: nowrap;
}

div.schooltool_gradebook {
    margin-bottom: 20px;
    overflow: auto;
    width: 752px;
}

div.gradebook-freezecol-names {
    background: #F7F7F7;
    overflow: hidden;
    position: absolute;
    top: 0px;
    width: auto;
    z-index: 101;
}

div.gradebook-freezecol-totals {
    background: #F7F7F7;
    overflow: hidden;
    position: absolute;
    top: 0px;
    right: 0px;
    width: auto;
    z-index: 101;
}

.grid-form table tr th, .grid-form table td, .activity input[type="text"] {
    font-size: 1em;
}

.gradebook-row td, .gradebook-header th {
    border-left: 1px solid #bbbbbb;
    line-height: 1.4em;
    padding: 0.2em auto;
    vertical-align: middle;
    width: 5em;
}

.navigator {
    width: 140px;
}

.activity {
    padding: 0px;
}

.activity input[type="text"] {
    border: 0px;
    background: transparent;
    height: 1.2em;
}

.popup_menu {
    display: none;
    position: absolute;
    z-index: 10000;
}

.popup_menu li {
    border-bottom: solid 1px #808080;
    background-color: #EEEEEE;
    padding: 3px 10px 3px 10px;
    display: block;
}

.popup_menu a {
    display: block;
}

.grid-form .gradebook-buttons {
    float: left;
}

.grid-form .zoom-buttons {
    float: right;
}
