div.schooltool_gradebook {
    overflow: auto;
    width: 736px;
    margin-bottom: 20px;
}

.navigator {
    width: 140px;
}

.gradebook-message {
    display: none;
}

.activity {
    width: 40px;
}

.activity input {
    width: 40px;
}

.activity span {
    width: 40px;
}

.gradebook-name {
    min-width: 160px;
    max-width: 160px;
    white-space: nowrap;
    overflow: hidden;
}

.popup_menu {
    display: none;
    position: absolute;
    z-index: 10000;
}

.popup_menu li {
    border-bottom: solid 1px #808080;
    background-color: #EEEEEE;
    padding: 3px 10px 3px 10px;
    display: block;
}

.popup_menu a {
    display: block;
}

