div.topmenu {
      width: 100%;
      height: 50px;
      margin: 0px;
      background-color: #eae8e3;
      font-family: sans-serif;
      border-bottom: 1px solid black;
      font-weight: normal;
}

div.topmenu ul{
      list-style: none;
      padding: 0px;
      margin: 0px;
}

div.topmenu li{
      float: left;
      font-weight: bold;
      height: 50px;
      border-top: 1px solid #900;
      border-right: 1px solid #900;
}
div.topmenu li.active-menu-item{
      background-color: #999999;
      height: 49px;
}
div.topmenu li.inactive-menu-item{
/**/
}
div.topmenu li a{
      text-decoration: none;
      display: block;
      padding: 5px 10px 5px 10px;
      color: black;
      text-decoration: none;
}
div.topmenu li a:visited {text-decoration:none;}
div.topmenu li a:active {text-decoration:none;}
div.topmenu li a:hover {
      background-color: #eeeeee;
      color: #900;
}
div.topmenu li.active-menu-item a:hover {
      background-color: #aaaaaa;
}

div#warning {
    text-align: center;
    font-weight: bold;
    margin: 1em;
    padding: .5em;
    border: medium double black;

}

table.schooltool_gradebook {
    border: solid 1px #808080;
    border-spacing: 0px;
    border-collapse: collapse;
}

table.schooltool_gradebook .final_grade {
    color: blue;
}

.cell {
    padding: 0em;
    margin: 0em;
    border-left:  thin solid gray;
    border-right: thin solid gray;
    color: black;
    text-align: center;
}

.padded {
    padding-left: .25em;
    padding-right: .25em;
}

.fully_padded {
    padding: .25em;
    padding: .25em;
}

.header {
    background-color: #DDD;
}

.title {
    width: 40px;
}

.fd_cell {
    background-color: #CCC;
}

.even {
    background-color: #DDD;
}

.odd {
    background-color: #EEE;
}

.fdbtn {
    color: #000;
    background-color: #999;
    border-color: #000;
    width: 100%;
}

input.data {
  font-family: monospace;
  border: 0px;
  background-color: transparent;
  text-align: center;
}

input.data:focus {
  background-color: transparent;
  border: 0px;
}

.description {
    background-color: #CCC;
    height: 3em;
    width: 0px;
}

td.inactive_tab {
    border-left: solid 1px #bbb;
    padding: .5ex;
    background-color: #eee;
    width: 90px;
    text-align: center;
}

td.active_tab {
    border-left: solid 1px #bbb;
    padding: .5ex;
    background-color: #ddd;
    width: 90px;
    text-align: center;
}

.bordered {
    border: solid 1px black;
}

.bold {
    font-weight: bold;
}

FORM.addscoresystem, div.addscoresystem {
    width: 48em;
    margin: auto;
}

FORM.addscoresystem FIELDSET, div.addscoresystem FIELDSET {
    margin: 1em;
}

FORM.addscoresystem h3, div.addscoresystem h3 {
    margin: 0;
    padding: 0.25em;
}

FORM.addscoresystem .controls, div.addscoresystem .controls {
    margin: 0.5em 1em 1em 1em;
}

FORM.addscoresystem, div.addscoresystem, FORM div.oneline-form{
    background: #eae8e3;
    border: 1px #bab5ab solid;
}

FORM.addscoresystem h3, div.addscoresystem h3 {
    background: #bab5ab;
}

FORM.addscoresystem FIELDSET, div.addscoresystem FIELDSET {
    border: 1px #bab5ab solid;
    /* Mozilla's default padding for fieldsets -- makes it nice in MSIE too */
    padding: 0.35em 0.625em 0.75em 0.625em;
}

FORM.addscoresystem p, div.addscoresystem p {
    margin: 0.5em;
}

FORM.addscoresystem p.hint, div.addscoresystem p.hint {
    font-size: 80%;
    font-style: italic;
    color: #bab5ab;
}

FORM.addscoresystem .controls INPUT, div.addscoresystem .controls INPUT {
    background: #fff;
}

FORM.addscoresystem DIV.label, div.addscoresystem DIV.label {
    width: 10em;
    padding-top: 0.5ex;
}

